@import "@xyflow/react/dist/style.css";
@import "tailwindcss";
@import "tw-animate-css";
@plugin 'tailwind-scrollbar';
@source "../../node_modules/streamdown/dist/index.js";

@custom-variant dark (&:is(.dark *));

@theme {
	--text-2xs: 0.688rem; /* 11px */
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	/* brand colors */
	--color-azure-blue: #3784ff;
	--color-sky-blue: #69a3ff;
	--color-crystal-blue: #d5e5ff;
	--color-morning-mist: #fbf9f4;
	--color-night-sky: #231f20;
	--color-blue-dark: #29325c;
	--color-cream: #f7f4ed;
	--color-white-cream: #fff5e1;
	--color-orange-light: #fbe1bc;
	--color-gray-light: #5f5c62;

	/* based on azure blue (#3784ff) */
	--color-azure-50: oklch(0.9697 0.0148 251.16);
	--color-azure-100: oklch(0.9308 0.0339 253.71);
	--color-azure-200: oklch(0.8807 0.0599 252.33);
	--color-azure-300: oklch(0.8092 0.0999 249.58);
	--color-azure-400: oklch(0.7135 0.1524 254.03);
	--color-azure-500: oklch(0.6321 0.1983 259.59);
	--color-azure-600: oklch(0.5468 0.2329 262.71);
	--color-azure-700: oklch(0.4895 0.233 263.93);
	--color-azure-800: oklch(0.4234 0.195 264.97);
	--color-azure-900: oklch(0.3773 0.1488 264.94);
	--color-azure-950: oklch(0.2785 0.0961 267.56);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-inter);
	--font-mono: var(--font-jetbrains-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--animate-bounce-dot: bounce-dot 1.5s infinite ease-in-out;

	@keyframes bounce-dot {
		0%,
		100% {
			opacity: 0.3;
			transform: translateY(0);
		}
		100% {
			opacity: 1;
			transform: translateY(-5px);
		}
	}
}

@keyframes shine {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

.animate-shine {
	animation: shine 2s linear infinite;
	animation-delay: 0s;
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: var(--color-stone-900);
	--card: oklch(1 0 0);
	--card-foreground: var(--color-stone-900);
	--popover: oklch(1 0 0);
	--popover-foreground: var(--color-stone-900);
	--primary: oklch(0.6321 0.1983 259.59);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: var(--color-stone-100);
	--secondary-foreground: var(--color-stone-800);
	--muted: var(--color-stone-100);
	--muted-foreground: var(--color-stone-600);
	--accent: var(--color-stone-100);
	--accent-foreground: var(--color-stone-800);
	--destructive: oklch(0.577 0.245 27.325);
	--border: var(--color-stone-200);
	--input: var(--color-stone-200);
	--ring: var(--color-stone-400);
	--chart-1: var(--color-azure-blue);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: var(--color-stone-50);
	--sidebar-foreground: var(--color-stone-900);
	--sidebar-primary: var(--color-stone-800);
	--sidebar-primary-foreground: var(--color-stone-50);
	--sidebar-accent: oklch(0.3773 0.1488 264.94 / 3.92%); /* based off of azure-900 with lower opacity */
	--sidebar-accent-foreground: var(--color-azure-600);
	--sidebar-border: var(--color-stone-200);
	--sidebar-ring: var(--color-stone-400);
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: var(--color-sky-blue);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: var(--color-sky-blue);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
	pre {
		@apply overflow-auto;
	}
	.cm-scroller {
		@apply scrollbar-thin scrollbar-thumb-muted-foreground/30 dark:scrollbar-thumb-muted-foreground/50 scrollbar-track-transparent !font-mono;
	}
	code,
	kbd,
	samp,
	pre {
		@apply font-mono;
	}

	/* React Flow Controls */
	.dark .react-flow__controls {
		@apply bg-card border border-border shadow-md;
	}

	.dark .react-flow__controls .react-flow__controls-button {
		@apply [--xy-controls-button-background-color:transparent] [--xy-controls-button-background-color-hover:var(--accent)] [--xy-controls-button-border-color:var(--border)];
	}

	/* React Flow Attribution */
	.dark .react-flow__attribution {
		@apply [--xy-attribution-background-color:hsl(var(--card)/0.6)];
	}

	/* Linkbox */
	[data-slot="linkbox"] {
		position: relative;

		& a[href]:not([data-slot="linkoverlay"]),
		abbr[title] {
			position: relative;
			z-index: 2;
		}

		& button {
			position: relative;
			z-index: 2;
			isolation: isolate;
		}
	}

	[data-slot="linkoverlay"] {
		position: static;
		&::before {
			content: "";
			cursor: inherit;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
		}
	}

	/* UIW CodeMirror */

	.cm-activeLine:has(.cm-placeholder) {
		@apply !bg-transparent;
	}
}
